*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5em;

    }

.container{
    max-width: 960px;
    margin: auto;
    }


#navbar{
    background-color: #333333;
    color: white;
    height: 90px;
    padding-top: 30px;
    }

#navbar h1{
    float: left;
    }

#navbar ul{
    float: right;
    list-style: none; 
    }

#navbar ul li{
    float: left;
    }

#navbar ul a{
    color: white;
    padding: 20px;
    text-decoration: none;
    }

#navbar ul a:hover{
    text-decoration: underline;
    color: rgb(238, 198, 123);
    }  

   /*form*/
#container{
    max-width: 960px;
    margin-left: 13%;
    }

h2{
    margin-top: 20px;
    color: orange;
    }


form{
   width: 300px;
    margin-left: 0px;
    }

form label{
    display: flex;
    margin-top: 20px;
    font-size: 18px;
    }

form input{
    width: 325%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 3px;
    outline: none;
    }
form textarea{
    width: 325%;
    padding: 80px;
  
    }

button{
    width: 90px;
    height: 50px;
    margin-top: 10px;
    border: none;
    background-color: #333333;
    color: white;
    font-size: 18px;
    border-radius: 10px;
    } 
.bottom-text{
    font-size: 5px;
} 

   /*Icons*/

#icons {
    text-align: center;
    }

#icons{
    padding-top: 20px;
    text-align: center;
    }

.box{
    float: left;
    width: 33.3%;
    height: auto;
    padding: 50px;
    background-color: #333333;
    color: white;
    } 

    
    
    /* Common */
    
    a  {
        color: white;
        text-decoration: none;
    }
    
    
    .container {
        max-width: 960px;
        margin: auto;
    }
    
    .text-primary {
        color: #f7c08a;
    }
    
    .btn {
        font-size: 18px;
        background: #333;
        padding: 15px 20px;
        border-radius: 5px;
    }
    
    .bg-light {
        background: #f4f4f4;
        color: #333;
    }
    
    .bg-primary {
        background: #f7c08a
    }
    
    .btn-light {
        background: #f4f4f4;
        color: #333;
    }
    
    .clr {
        clear: both;
    }
    
    /* Navigation */
    #navbar {
        background-color: #333;
        color: #fff;
        height: 40px;
        padding-top: 5px;
        /* overflow: auto; */
    }
    
    #navbar h1 {
        float: left;
        padding-left: 20px;
    }
    
    #navbar ul {
        float: right;
        list-style: none;    
    }
    
    #navbar ul li {
        float: left;
    }
    
    #navbar ul a  {
        padding: 20px;
    }
    
    #navbar ul a:hover {
        text-decoration: underline;
        color: #f7c08a;
    }
    
    /* Showcase */
    #showcase {
        background: url(images/showcase.jpg) no-repeat center center/cover;
        height: 400px;
    }
    
    .showcase-content {
        text-align: center;
        color: #fff;
        padding-top: 120px;
    }
    
    .showcase-content p {
        margin-bottom: 30px;
    }
    
    /* Home Info */
    #home-info {
        height: 300px;    
    }
    
    #home-info .info-img {
        background: url(images/photo-1.jpg) no-repeat center center/cover;
        height: 100%;
        width: 50%;
        float: left;
    }
    
    #home-info .info-content {
        height: 100%;
        width: 50%;
        background: #333;
        float: right;
        color: white;
        text-align: center;
        padding: 20px 10px;
    }
    
    #home-info .info-content h2 {
        padding: 10px;
    }
    
    #home-info .info-content p {
        margin-bottom: 50px;
    }
    
    #home-info .info-content a:hover {
        text-decoration: underline;
        color: #333;
    }
    
    /*  Features */
    #features {
        text-align: center;
    }
    
    .box {
        float: left;
        width: 33.3%;
        padding: 50px;
    }
    
    .box i {
        font-size: 50px;
    }
    
    /* About */
    #about-info {
        padding: 20px;
    }
    
    #about-info .info-left {
        float: left;
        width: 40%;
        height: 100%;
    
    }
    
    #about-info .info-right {
        float: right;
        width: 40%;
        height: 100%;
    }
    
    #about-info .info-right img {
        width: 70%;
        margin-top: auto;
        border-radius: 50%;
        display: block;
    }
    
    /* Testimonials */
    #testimonials {
        /* padding-top: 100px; */
        height: 500px;
        background: url(images/test-bg.jpg) no-repeat center center/cover;
    }
    
    #testimonials h2 {
        color: white;
        text-align: center;
        padding: 20px;
        font-size: 30px;
    }
    
    #testimonials .testimonial {
        padding: 20px;
        margin-bottom: 40px;
        border-radius: 5px;
        height: 150px;
        opacity: 0.8;
    }
    
    #testimonials .testimonial img {
        width: 100px;
        float: left;
        margin-right: 20px;
        border-radius: 50%;
    }
    
    
    
    
    /* FOOTER */
    #main-footer {
        text-align: center;
        background: #444;
        color: white;
        padding: 20px;
    }
    
    #main-footer p {
        margin-top: 5px;
    }
